<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <!-- these registry entries should be installed
		 to the target user's machine -->
    <DirectoryRef Id="TARGETDIR">
      <!-- groups together the registry entries to be installed -->
      <!-- Note the unique `Id` we provide here -->
      <Component Id="MyFragmentRegistryEntries" Guid="*">
        <!-- the registry key will be under
			 HKEY_CURRENT_USER\Software\MyCompany\MyApplicationName -->
        <!-- Tauri uses the second portion of the
			 bundle identifier as the `MyCompany` name
			 (e.g. `tauri-apps` in `com.tauri-apps.test`)  -->
        <RegistryKey
          Root="HKCU"
          Key="Software\Classes\.md"
          Action="createAndRemoveOnUninstall"
        >
          <RegistryValue Root="HKLM" Key="SOFTWARE\idiotmd\Capabilities\FileAssociations" Name=".md" Value="markdown.Document" Type="string" />
        </RegistryKey>
      </Component>
    </DirectoryRef>
    
  </Fragment>
</Wix>